[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
scikit-learn = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.7"
